
.ContainerShoppingCart {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
}

.ProductItem {
  display: flexbox;
  flex-direction: row;
  /* grid-template-columns: repeat(3, 1fr); */
}